<h1>Listing ideas</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>説明</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= link_to '表示', idea %></td>
        <td><%= link_to '編集', edit_idea_path(idea) %></td>
        <td><%= link_to '削除', idea, method: :delete, data: { confirm: '削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '追加', new_idea_path %>
